.navbar-nav .nav-link {
  color: white !important;
  font-weight: 600;
  padding: 12px 18px;

  transition: background 0.3s ease-in-out, transform 0.2s;
  border-radius: 8px;
}

.navbar-nav .nav-link:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
}

/* Profile Dropdown */
/* Alignement du dropdown utilisateur */
.nav-item.dropdown {
  display: flex;
  align-items: center;
}

/* Ajustement du texte et de l'image du dropdown */
.nav-item.dropdown .nav-link {
  display: flex;
  align-items: center;
  gap: 8px; /* Espacement entre l'avatar et le texte */
  padding: 10px 15px; /* Même padding que les autres éléments */
}

/* Assurer une bonne hauteur pour l'image */
.profile-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-img:hover {
  border-color: white;
  transform: scale(1.1);
}
.navbar-nav .nav-link {
  color: #333;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 16px;
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent;
}
body {
  background-color: white ;
}
