.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
}
.card:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.btn-xs {
  padding: 0.15rem 0.25rem;
  font-size: 0.75rem;
  line-height: 1;
  border-radius: 0.15rem;
}
.card {
  animation: fadeIn 0.5s ease-in-out;
}
.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}
.nav-link-text {
  color: black  !important;
}
.navbar-brand-img {
  display: flex;

  margin-left: 40px;
}
/* Effet de survol sur les éléments de la liste */
.nav-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
}
.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  font-size: 5px;
  margin: 0 5px;
}

.icon-button:hover {
  color: #007bff; /* Change la couleur au survol */
}

/* Lien actif */
.nav-link.active {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

/* Icônes */
.icon {
  transition: transform 0.2s ease-in-out;
}

.nav-item:hover .icon {
  transform: scale(1.1);
}

/* Ombre portée pour le sidebar */
.sidenav {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-item i {
  color: rgb(28, 32, 32) !important;
}
